@media screen and (max-width: 768px){
    .container{
       
        max-width:100%;
        overflow-x: hidden;
        scrollbar-width:none;
        
        
        scroll-behavior: smooth;
    

    }
    .container::-webkit-scrollbar{
        display: none;
    }
    body::-webkit-scrollbar{
        display: none;
    }
    .first{
    
        background-image:url('picbg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
       
        max-width: 100%;
        height:500px;
       
        
    
       
        
        
    }
    .first::before{
        content:'';
        width:99.5%;
        height: 500px;
        max-height: 500px;
        position:absolute;
        z-index: 1;
        background-image: linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0.7),rgba(0,0,0,0.94));
       
    }
    .first img{
        position: sticky;    
        width:auto;
        height: auto;
        z-index: 1;
        margin-top: 60px;
        max-width: 45%;
        max-height: 35%;
        margin-left: 0px;
    
    }
    .signin button{
 
        background-color: rgb(215, 40, 40);
        font-family: Netflix Sans;
        font-size:10px;
        border:none;
        border-radius: 4px;
        
        float: inline-end;
        z-index:1;
        width: auto;
        height:auto;
       
        transform: translate(340%,-250%);
        
       
        font-style: normal;
        
  
       
        color: antiquewhite;
    }
    .first h1{
        font-family: Netflix Sans;
        font-weight:bolder;
        font-size: 1.5rem;
        z-index: 1;
        position: relative;
        color: white;
        padding: 1em;
        margin-top: -5%;
        line-height:25px ;
       
        
        
       
        
    }
   
    .unlimited{
        display: grid;
        place-items: center;
        margin-left: 10%;
        
}
    .first h5{
        font-family: Netflix Sans;
        font-weight:normal;
        font-size: 15px;
        z-index: 1;
        position: relative;
        color: white;
        margin-top: 10px;
        word-spacing: 5px;
        display: grid;
        place-items: center;
        place-self: center;
       
     
       
    
}
    section{
    position: relative;
    z-index: 1002;
    margin-top: 20px;
    height: 400px;
}
    .watch{
    
    margin-left: auto;
    margin-right: auto;
    margin-top:-80px;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
    
    
}
    .first input{
    position: relative;
    margin-top: 20px;
    border-radius: 4px;
    border:2px solid white;
    margin-left: 18%;
    background-color: rgba(0,0,0,0.3);
    width:65%;
    height: 8%;
    z-index: 1000 !important;
    max-width: 70%;
    max-height: 15%;

    
}
    ::placeholder{
    
    opacity:1;
    color:white;
    font-size: 10px;
    margin-left: 2px;
    padding-left: 2px;
    text-indent: 15px;
    border: #ff6464;
    visibility: visible;
}
    .start button{
    background-color: rgb(215, 40, 40);
    font-family: Netflix Sans;
    font-size:10px;
    border:none;
    border-radius: 4px;
    color: #ffffff;
    position: relative;
    z-index:1000;
    padding: 0.8rem;
    
    
    
}
.start span{
    font-size: 10px;
    margin-top: -10px;
    font-weight: bolder;
}
.start{
    
    margin-top: -5px;
    margin-left: 8%;
    padding: 1rem;
  
}
.first input:focus::placeholder{
    font-size: 7px;
    transform: translate(-10px,-18px);
    transition: ease 300ms;
    color: rgb(225, 223, 221);
    opacity: 1;
    text-indent: 20px;
    visibility: visible;
}
.one h1{
    font-family: Netflix Sans;
    font-size:1.8rem;
    font-weight: bolder;
    color: white;
    margin-top: -50%;
    margin-left: auto;
    margin-right: auto;
    
    line-height: 40px;

}
.one h5{
    font-family: Netflix Sans;
    font-size:1rem;
    text-align: center;
    color: white;
    margin-top: -20px;
    margin-left:auto;
    margin-right: auto;
    max-width: 280px;
    font-weight: 700; 
    
    

}
.one img{
    
    width:auto;
    height:auto;
    float: inline-end;
    max-width: 60%;
    max-height: 55%;
    margin-right: auto;
    margin-left: auto;
    z-index: 1000;
    transform: translate(0%,110%);

}

.phone{
    margin-left:auto;
    margin-right: auto;
    transform:translate(10%,80%);
    height: 45%;
}
.box{
    width:40%;
    height: 10%;
    border:1px solid white;
    border-radius: 6px;
    margin-left: 4%;
    transform: translate(60%,290%);
    background-color: black;
    
   
}
.box #t{
    width:15%;
    height: 65%;
    margin-left: 6px;
    margin-top: 10px;
    
}
.box #dl{
    width:18%;
    height: 55%;
    position: relative;
   
}
.box h4{
    font-family: Netflix Sans;
    font-weight:500;
    font-size: 7px;
    color:white;
    position: relative;
    transform:translate(25%,-170%);
   
}
.box span{
    font-family: Netflix Sans;
    font-weight:800;
    font-size: 5px;
    color:blue;
}
.tx{

   
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
.two h1{
    font-family: Netflix Sans;
    font-size:1.8rem;
    font-weight: bolder;
    color: white;
    max-width: 300px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    z-index: 1005;
    position: relative;
    transform: translateY(-150px);

    
    
  
}
.two h5{
    font-family: Netflix Sans;
    font-size:.87rem;
    z-index: 1005;
    color: white; 
    position: relative; 
    max-width: 400px; 
    margin-left:auto;
    margin-right: auto;
    margin-top: -55%;
    font-weight: 700; 
    


}
.three h1{
    font-family: Netflix Sans;
    font-size:2rem;
    font-weight: bolder;
    color: white;
    max-width: 300px;
   
    padding-top: 20px;
    line-height: 50px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
.three h5{
    font-family: Netflix Sans;
    font-size:1rem;
    max-width: 210px;
    color: white;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    font-weight: 700; 
 
    
    
}


.four img{
   width:auto;
   height: auto;
   max-width: 90%;
   max-height: 95%;
   transform: translateY(100%);
}
.four h1{
    float: inline-end;
    font-family: Netflix Sans;
    font-size:1.8rem;
    font-weight: bolder;
    color: white;
    max-width: 700px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    margin-top: -90%;
 
}
.four h5{
    float: inline-end;
    font-family: Netflix Sans;
    font-size:  0.8em;
    max-width: 600px;
    color: white;
    margin-top: 0%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    font-weight: 700; 
   
    
}
.fifth h2{
    
    font-family: Netflix Sans;
    font-size:1rem;
    font-weight: bolder;
    color: white;
    text-align: center;
    
    padding-top: 50px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    
}



.fifth .Q1{
    width:75%;
    height:4%;
    max-height: 8%;
    border:#ffffff;
    background-color: #323232;
    color: white;
    font-family: Netflix Sans;
    font-weight: bolder;
  
    padding:10px ;
    margin:10px;
    margin-left:10%;
  


}
.fifth .Q1 h4{
    margin-left: 2%;
    font-size: 15px;
}

.fifth .Q1 span{
    float:inline-end;
    margin-right: 2%;
}


.fifth .Q2{
    width:75%;
    height:10%;
    background-color: #323232;
    color: white;
    font-family: Netflix Sans;
    font-weight: bold;
    font-size:9px;
    padding:10px 10px;
    margin:10px;
    margin-left:10%;
  


}
.fifth .Q2 h4{
    margin-left: 2%;
    font-size: 15px;
    max-width: 150px;
}

.drop2 span{
   
    
    display: flex;
    justify-content: right;
    justify-self: end;
    align-self:flex-end;
    place-self: right;
}

.fifth .Q3{
    width:75%;
    height:10%;
    background-color: #323232;
    color: white;
    font-family: Netflix Sans;
    font-weight: bold;
    font-size:9px;
    padding:10px 10px;
    margin:10px;
    margin-left:10%;
  


}
.fifth .Q3 h4{
    margin-left: 2%;
    font-size: 15px;
}

.fifth .Q3 span{
    float:inline-end;
    margin-right: 2%;
}

.drop {
    > label { cursor: pointer; }
    #menu-toggle {display:none;}
    
    .menu {
      position:absolute;
      opacity: 0;
      pointer-events: none;
      width:100%;
      height:10px;
      transition: all 0.3s;
      transform: translateY(0px);
      background-color: #3e3e3e;
      
     
      color: white;
      font-family: Netflix Sans;
      text-align: center;
      font-size:14px;
      
     
    }
    
    #menu-toggle:checked + .menu {
      opacity: 1;
      transform: translateY(10);
      pointer-events: all;
      padding:90px 20px;
    
      
      
    }
   
  }
  
.drop span{
    position: absolute;
    transform: translate(190px,-30px);
}

.drop2 {
    > label { cursor: pointer; }
    #menu-toggle2 {display:none;}
    
    .menu2 {
       position:absolute;
        opacity: 0;
        pointer-events: none;
        width:75%;
        height:30px;
        transition: all 0.3s;
        transform: translateX(-10px);
        background-color: #3e3e3e;
        margin-top: 15px;
        margin-right:0 ;
        
       
        color: white;
        font-family: Netflix Sans;
        text-align: center;
        font-size:14px;
        
       
      }
      
    
    #menu-toggle2:checked + .menu2 {
      opacity: 1;
      transform: translateY(10);
      pointer-events: all;
      padding:90px 20px;
    
      
      
    }
   
  }
  





.drop3 {
    > label { cursor: pointer; }
    #menu-toggle3 {display:none;}
    
    
    .menu3 {
        position:absolute;
        opacity: 0;
        pointer-events: none;
        width:75%;
        height:30px;
        transition: all 0.3s;
        transform: translateX(-10px);
        background-color: #3e3e3e;
        margin-top: 15px;
        margin-right:0 ;
        
       
        color: white;
        font-family: Netflix Sans;
        text-align: center;
        font-size:14px;
        
       
      }
      
    
    #menu-toggle3:checked + .menu3 {
      opacity: 1;
      transform: translateY(10);
      pointer-events: all;
      padding:80px 10px;
    
      
      
    }
   
  }
  
.drop3 span{
    position: absolute;
    transform: translate(190px,-30px);
}
}